/*
    CSS Borders
        - border-style: what kind of border to display
            - can have from one to four values
        - border-width:
            - specifies the width of the four borders
        - border-color:
            - specifies the color of the four borders
        - border-sides:
            - specify a different border for each side
        - rounded-borders
            - property is used to add rounded borders to an element
*/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.notification {
  border-left: 10px solid rgb(9, 95, 163);
  background-color: teal;
  padding: 24px;
  color: white;
  font-size: 24px;
}
