/*
    CSS Styling Images
*/

/*
    * border-radius
        - property to create rounded images
*/

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img.rounded-image {
  border-radius: 50%;
}

/*
    * border
        - property to create thumbnail images
*/

img.thumbnail {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  width: 150px;
  transition: box-shadow 500ms;
}

img.thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/*
    ! responsive image
        - max-width for original screen
        - height auto
*/

img.responsive {
  max-width: 100%;
  height: auto;
}

/*
    ! image text
*/

div.image-container {
  position: relative;
}

div.image-container > img {
  max-width: 100%;
  opacity: 0.5;
}

div.image-container > span {
  color: black;
  position: absolute;
  left: 2%;
  top: 2%;
}

/*
    ! image hover overlay
*/

div.staff-container {
  display: inline-block;
  position: relative;
  border-radius: 6px;
  background-color: black;
}

div.staff-container > img.staff {
  width: 262px;
  display: block;
  height: auto;
}

div.staff-container > div.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 6px;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: rgba(10, 10, 10, 0.4);
  transition: height 0.4s;
}

div.staff-container:hover > div.overlay {
  height: 100%;
}

div.staff-container > div.overlay > div.text {
  white-space: nowrap;
  color: white;
  font-size: 30px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}

div.staff-container > div.overlay > div.text > a {
    display: block;
    margin: auto;
    width: fit-content;
    font-size: 16px;
    padding: 8px;
    border-radius: 6px;
    background-color: transparent;
    color: white;
    background-color: transparent;
    text-decoration: none;
}

div.staff-container > div.overlay > div.text > a:hover  {
    background-color: white;
    color: black;
}
