/*
    CSS Flexbox
        -  makes it easier to design flexible responsive 
            layout structure without using float or positioning
*/

/*
    ! flex container
         flex container becomes flexible by 
            setting the display property to flex
*/
.flex-container {
  display: flex;
}

/*
    * flex-direction
        - defines in which direction the container 
            wants to stack the flex items
        - values:
            - column: stacks the flex items vertically
            - column-reverse: same with "column" value but from bottom to top
            - row: stacks the flex items horizontally
            - row-reverse: same with "row" value but from right to left
*/
.flex-container {
  flex-direction: row;
}

/*
    * flex-wrap
        - specifies whether the flex items should wrap or not
        - values:
            - wrap: flex items will wrap if necessary
            - nowrap: flex items will not wrap (default)
            - wrap-reverse:flexible items will wrap if necessary,
                 in reverse order
*/
.flex-container {
  flex-wrap: wrap;
}

/*
    * flex-flow
        - shorthand property for setting both the 
            flex-direction and flex-wrap
        - usage:
            - .flex-container {
            -   flex-flow: row wrap;
            - }
*/

/*
    * justify-content
        - property is used to align the flex items horizontally
        - values:
            - center: aligns items at the center of the container
            - flex-start: aligns items at the beginning of the container (default)
            - flex-end: aligns items at the end of the container
            - space-around: align items with space before, 
                between, and after the lines
            - space-between: aligns items with space between the lines
*/
.flex-container {
  justify-content: center;
}

/*
    * align-items
        - property is used to align the flex items vertically
        - values:
            - center: aligns the flex items in the middle of the container
            - flex-start: aligns the flex items at the top of the container
            - flex-end: aligns the flex items at the bottom of the container
            - stretch: stretches the flex items to fill the container (default)
            - baseline: aligns the flex items such as their baselines align
*/
.flex-container {
    align-items: center;
}

/*
    * align-content
        - property is used to align the flex lines vertically
        - values:
            - center: flex lines in the middle of the container
            - flex-start: flex lines at the start of the container
            - flex-end: flex lines at the end of the container
            - stretch: flex lines to take up the remaining space
            - space-around: flex lines with space before, between, and after them
            - space-between: flex lines with equal space between them
*/

/*
    ! flex items
        - child elements of a flex container 
            automatically becomes flexible (flex) items
*/

/*
    * order
        - specifies the order of the flex items
        - usage:
            - <div class="flex-container">
            -   <div style="order: 2">1</div>
            -   <div style="order: 1">2</div>
            - </div>
*/

/*
    * flex-grow
        - specifies how much a flex item will 
            grow relative to the rest of the flex items
        - usage:
            - <div class="flex-container">
            -   <div style="flex-grow: 1">1</div>
            -   <div style="flex-grow: 1">2</div>
            -   <div style="flex-grow: 8">3</div>
            - </div>
*/

/*
    * flex-shrink
        - specifies how much a flex item will 
            shrink relative to the rest of the flex items
        - default is 1
*/

/*
    * flex-basis
        - property specifies the initial length of a flex item
*/

/*
    * shorthand
        - flex: flex-grow flex-shrink flex-basis;
*/

/*
    * align-self
        - specifies the vertically alignment for the selected 
            item inside the flexible container
        - overrides the default alignment set by 
            the container's "align-items" property
*/
