/*
    How To Add CSS

    Three Ways to Insert Css:
        - External
        - Internal
        - Inline

    External
        - change the look of an entire web page with one file
    Internal
        - used if one single HTML page has a unique style
    Inline
        - used to apply a unique style for a single element

    Cascading Order
        - Inline style (inside an HTML element)
        - External and internal style sheets (in the head section)
        - Browser default
*/

h1 {
  text-align: center;
  font-size: 60px;
  padding: 24px;
}
