/*
    CSS Outline
        outline:
            - drawn around elements, OUTSIDE the borders
            - outline is NOT a part of the element's dimensions
            - total width and height is not affected by the width of the outline
        outline-style:
            - specifies the style of the outline 
        outline-width:
            - specifies the width of the outline
        outline-color:
            - specifies the color of the outline
        outline-offset: 
            - adds space between an outline and the border of an element
*/

div {
  outline: 40px dashed green;
  outline-offset: 15px;
  border: 40px solid red;
  text-align: center;
  width: 50%;
  margin: auto;
}
