/*
    CSS Tables
        border:
            - specify table borders
        full-width:
            - width: 100%
        border-collapse:
            - property sets borders into a single border
        width and height: 
            - define table width and height
        text-align:
            - property sets the horizontal alignment
        vertical-align:
            - property sets the vertical alignment
            ! use with height
        padding:
            - define space between the border and the content in a table
        border-bottom:
            - define property to <th> and <td> for horizontal dividers
        :hover: (use on tr element for best practice)
            - highlight table rows on mouse over
        :nth-child: (use on tr element for best practice)
            - change attributes for all even (or odd) table rows
        ! responsive table
            - overflow-x:auto:
                Add a container element with overflow-x:auto 
                    around the <table> element to make it responsive
                - <div style="overflow-x:auto;">
                -   <table>
                -   ... table content ...
                -   </table>
                - </div>
                
*/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
  border: 2px solid #ddd;
  border-collapse: collapse;
  width: 100%;
}

table.green-header > tbody > tr > th {
  text-align: left;
  color: white;
  background-color: #4caf50;
  padding: 12px 8px;
}

th {
  border: 1px solid #ddd;
}

td {
  text-align: left;
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
