/*
    CSS Lists
        list-style-type:
            - property specifies the type of list item marker
        list-style-image:
            - property specifies an image as the list item marker
        list-style-position:
            - property specifies the position of the list-item markers
                - inside: bullet points will be inside the list item
                - outside: bullet points will be outside the list item
        list-style:
            - property is a shorthand property for
                * list-style-type
                * list-style-position
                * list-style-image
*/

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

h1.title {
  margin-bottom: 0;
  text-align: center;
}

p.subtitle {
  margin: 2px 0 21px 0;
  text-align: center;
}

h2.menu {
  text-align: start;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: start;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
