/*
    CSS Border Images
        - multiple backgrounds:
            -  images are stacked on top of each other,
                where the first image is closest to the viewer
        - background-size:
            - allows you to specify the size of background images
        - full size background image:
            - usage:
                - background: url(img_man.jpg) no-repeat center fixed;
                - background-size: cover;
        - background-clip:
            - property specifies the painting area of the background
            - values:
                - border-box - (default) the background is painted 
                    to the outside edge of the border
                - padding-box - the background is painted 
                    to the outside edge of the padding
                - content-box - the background is painted within 
                    the content box
*/

html {
  background: url("https://i.pinimg.com/originals/c5/9a/d2/c59ad2bd4ad2fbacd04017debc679ddb.gif")
    no-repeat center fixed;
  background-size: cover;
}

p {
  height: 100%;
  color: white;
  text-align: center;
  font-size: 52px;
}
