/*
    CSS Grid Layout Module
        - offers a grid-based layout system, with rows and columns, 
            making it easier to design web pages without 
            having to use floats and positioning
*/

/*
    * display
        - grid container when its display property is 
            set to grid or inline-grid
*/

/*
    ! grid columns
        - vertical lines of grid items are called columns
*/

/*
    ! grid rows
        - horizontal lines of grid items are called rows
*/

/*
    * grid-column-gap && grid-row-gap
        - "grid-column-gap" property sets the gap between the columns
        - "grid-row-gap" property sets the gap between the rows

    * shorthand: grid-gap
        usage: grid-gap: grid-row-gap grid-column-gap;
*/

/*
    ! grid lines
        -  lines between columns are called column lines
        -  lines between rows are called row lines
    
    ! refer to line numbers when placing 
        a grid item in a grid container
        - usage:
            - .item1 {
            -   grid-column-start: 1;
            -   grid-column-end: 3;
            - }

            - .item1 {
            -   grid-row-start: 1;
            -   grid-row-end: 3;
            - }
*/

html, body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 15px;
    grid-gap: 15px;
    background-color: aquamarine;
}

.grid-item {
    background-color: tomato;
    border: 5px solid black;
    padding: 20px;
    text-align: center;
}

.header {
    grid-column-start: 1;
    grid-column-end: 5;
}