body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h1 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  div {
    width: 80%;
    margin: auto;
    padding: 10px;
  }

  .card {
    margin-bottom: 16px;
    border-radius: 4px;
  }

  #input {
    padding: 8px 0;
    border: none;
    width: 100%;
    text-indent: 8px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    padding: 8px;
    border-bottom: 0.5px solid grey;
  }

  span {
    margin-bottom: 2px;
  }

  li:nth-child(odd) {
    background-color: white;
  }

  li:nth-child(even) {
    background-color: #e9ecef;
  }