body {
  display: block;
  background-color: lightblue;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 18px;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 36px;
  }
}
