/*
    CSS Box Sizing
        * box-sizing:
            allows to include the padding and border in an 
                element's total width and height 
*/

.div1 {
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
  border: 1px solid blue;
}

.div2 {
  margin-bottom: 10px;
  width: 300px;
  height: 100px;
  padding: 50px;
  border: 1px solid red;
}
