/*
    CSS Layout - Position
        - position: 
            property specifies the type of 
            positioning method used for an element
            * static
            * relative
            * fixed
            * absolute
            * sticky
            Elements are then positioned using the 
                top, bottom, left, and right properties

            - static: 
                - default
                - positioned cannot use top, bottom, 
                    left, and right properties!
                - is not positioned in any special way
            - relative:
                - positioned relative to its normal position
                - top, right, bottom, and left properties of a 
                    relatively-positioned element will cause it 
                    to be adjusted away from its normal position.
            - fixed: 
                - positioned relative to the viewport, which means it 
                    always stays in the same place even if the page is scrolled
            - absolute:
                -  Is positioned relative to the nearest positioned ancestor. 
                    Ancestor must have position relative attribute
            - sticky:
                - is positioned based on the user's scroll position
            - z-index:
                - property specifies the stack order of an element 
*/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  background-color: tomato;
  padding: 12px 32px;
  border-radius: 5px;
  position: sticky;
  top: 5px;
}

nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

nav > ul > li {
  display: inline;
  margin-right: 8px;
}

a {
  text-decoration: none;
}

nav > ul > li > a {
  color: #212121;
}

nav > ul > li > a:hover {
  color: #484848;
}

article > p {
  padding: 24px;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
}

#last-article {
  margin-bottom: 140px;
}

a.fab {
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 50%;
  bottom: 5%;
  padding: 10px 15px;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.3),
    0 0 0 1px rgba(10, 10, 10, 0.03);
}
