/*
    CSS Backgrounds

    Color:
        - background-color:
            - specifies background color of element
            - can set the background color for any elements
        - opacity:
            - specifies the opacity/transparency of an element
            - range is 0.0 to 1.0
        - rgba: If you do not want to apply opacity to child elements
    
    Image:
        - background-image: image to use as the background of an element
    Repeat:
        - repeats an image both horizontally and vertically
        - background-repeat:
            - no-repeat showing the background image only once
    Attachment:
        - background-attachment:
            - whether the background image should scroll or be fixed
*/

.card {
  margin: 24px;
  padding: 24px;
  background-color: tomato;
  opacity: 0.5;
}
