/*
    CSS Layout - Float And Clear
        - float:
            - property specifies how an element should float
        - clear:
            - property specifies what elements can float 
                beside the cleared element and on which side.
        - 
*/

img {
    float: left;
    margin-right: 5px;
}

p{
    border: 2px solid black;
    text-indent: 50px;
    padding: 10px;
    overflow: auto;
}

p::first-letter{
    font-weight: 900;
    font-size: 32px;
}

.clearfix::after {
    content: "";
    float: left;
    display: table;
}