/*
    CSS Layout - Inline Block
        - advantages of 'inline block' over 'inline':
            - allows to set a width and height on the element
            - the top and bottom margins/paddings are respected, but with 
        - advantages of 'inline block' over 'block':
            - does not add a line-break after the element
*/