/*
    CSS Display
        * property is the most important CSS property for controlling layout
        property specifies if/how an element is displayed
        block level elements:
            * block-level element always starts on a new line 
                and takes up the full width available
            - <div>
            - <h1> .. <h6>
            - <p>
            - <form>
            - <header>
            - <footer>
            - <section>
        inline elements
            * inline element does not start on a new line 
                and only takes up as much width as necessary
            - <span>
            - <a>
            - <img>
        display:
            - none: hide and show elements without deleting and recreating them.
            ! note: Setting the display property of an element only changes 
                how the element is displayed, NOT what kind of element it is.
                So, an inline element with display: block; 
                is not allowed to have other block elements inside it.
            - visibility hidden: element will be hidden, but still affect the layout
*/

span.block-span {
  display: block;
  border: 2px solid green;
}
