/*
    CSS Selectors
        - used to "find" the HTML elements you want to style

    Different Selectors:
        - Simple selector
        - Combinator selector
        - Pseudo-class selector
        - Pseudo-elements selector
        - Attribute selectors

    Let's look at the simple selectors
*/

/* 
    Element Selector
        - selects HTML elements based on the element name
*/
p {
  color: red;
}

/* 
    Id Selector
        - uses id attribute of an HTML element to select a specific element
*/
#greeter {
  color: teal;
}

/*
    Class Selector
        - selects HTML elements with a specific class attribute
        - also specify that only specific HTML elements should be affected by a class    
*/
.center {
  margin: 24px;
  padding: 24px;
  text-align: center;
  border: 1px solid white;
}

h1.center {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border: 2px solid yellow;
}

/*
    CSS Universal Selector
        - selects all HTML elements on the page
*/
* {
  margin: 0;
  padding: 0;
}

/*
    CSS Grouping Selector
        - selects all the HTML elements with the same style definitions
        + group selectors for minimize the code
*/

h1, p {
    border-radius: 8px;
}
