/*
    CSS Shadow
        - text-shadow:
            - property applies shadow to text
            - usage:
                - text-shadow: 2px 2px;
        - box-shadow:
            - property applies shadow to elements
            - usage:
                - box-shadow: 10px 10px
            
*/

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
}

div.card {
  margin: auto;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(10, 10, 10, 0.5),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.header {
  background-color: tomato;
  color: white;
  padding: 10px;
  font-size: 40px;
}

div.container {
  padding: 10px;
}
