/*
    CSS Multi-column Layout
        -  allows easy definition of multiple columns of text 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
}

.header {
  background-color: #ddd;
  padding: 40px;
  font-size: 32px;
  text-align: center;
}

/*
    * column-count
        - specifies the number of columns an element should be divided into
*/
div.container {
  padding: 32px;
}

div.news {
  column-count: 3;
}

/*
    * column-gap
        - specifies the gap between the columns
*/

/*
    * column-rule
        - sets the width, style, and color of the rule
*/
div.news {
  column-rule: 1px solid black;
}

/*
    * column-width
        - specifies a suggested, optimal width for the columns
*/

div.container > div:not(:last-child) {
  margin-bottom: 25px;
}
